parameters:
	ignoreErrors:
		-
			message: '#^Argument of an invalid type array\<mixed\>\|stdClass supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: libs/Compiler.php

		-
			message: '#^Parameter \#2 \$value of method Taco\\Hayo\\Context\:\:shadow\(\) expects Taco\\Hayo\\Value, string\|Taco\\Hayo\\Value given\.$#'
			identifier: argument.type
			count: 1
			path: libs/Compiler.php
